![rmotr](https://user-images.githubusercontent.com/7065401/52071918-bda15380-2562-11e9-828c-7f95297e4a82.png)
<hr style="margin-bottom: 40px;">

# Pandas Series exercises

In [2]:
# Import the numpy package under the name np
import numpy as np

# Import the pandas package under the name pd
import pandas as pd

# Print the pandas version and the configuration
print(pd.__version__)

2.2.2

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series creation

### Create an empty pandas Series

In [ ]:
# your code goes here
pd.Series()

Series([], dtype: object)

In [ ]:
pd.Series()

Series([], dtype: object)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X python list convert it to an Y pandas Series

In [ ]:
# your code goes here
X = [7, 5, 8, 1]
pd.Series(X)

0    7
1    5
2    8
3    1
dtype: int64

In [ ]:
X = ['A','B','C']
print(X, type(X))

Y = pd.Series(X)
print(Y, type(Y)) # different type

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, name it 'My letters'

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
X.name = 'My letters' # Column name basically
X

0    7
1    5
2    8
3    1
Name: My letters, dtype: int64

In [ ]:
X = pd.Series(['A','B','C'])

X.name = 'My letters'
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its values

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
X.values

array([7, 5, 8, 1])

In [ ]:
X = pd.Series(['A','B','C'])

X.values

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series indexation

### Assign index names to the given X pandas Series

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X

first     7
second    5
third     8
fourth    1
dtype: int64

In [ ]:
X = pd.Series(['A','B','C'])
index_names = ['first', 'second', 'third']

X.index = index_names
X

first     A
second    B
third     C
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its first element

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X['first']
# X[0]

np.int64(7)

In [ ]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[0] # by position
#X.iloc[0] # by position
X.loc['first'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show its last element

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X.loc['fourth']
# X.iloc[-1]

np.int64(1)

In [ ]:
X = pd.Series(['A','B','C'], index=['first', 'second', 'third'])

#X[-1] # by position
#X.iloc[-1] # by position
X['third'] # by index

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show all middle elements

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X.loc['second':'third']
X.iloc[1:-1]

second    5
third     8
dtype: int64

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['second', 'third', 'forth']]
#X.iloc[1:-1] # by position
X[1:-1] # by position

second    B
third     C
forth     D
dtype: object

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the elements in reverse position

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X.iloc[::-1]

fourth    1
third     8
second    5
first     7
dtype: int64

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X.iloc[::-1]
X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the first and last elements

In [ ]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X.iloc[[0, -1]]
X.loc[['first', 'fourth']]

first     7
fourth    1
dtype: int64

In [ ]:
X = pd.Series(['A','B','C','D','E'],
              index=['first','second','third','forth','fifth'])

#X[['first', 'fifth']]
#X.iloc[[0, -1]]
X[[0, -1]]

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series manipulation

### Convert the given integer pandas Series to float

In [39]:
# your code goes here
X = pd.Series([7, 5, 8, 1], dtype=int)
pd.Series(X, dtype=float)

0    7.0
1    5.0
2    8.0
3    1.0
dtype: float64

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

pd.Series(X, dtype=np.float)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Reverse the given pandas Series (first element becomes last)

In [ ]:
# your code goes here

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['first','second','third','forth','fifth'])

X[::-1]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Order (sort) the given pandas Series

In [45]:
# your code goes here
X = pd.Series([7, 5, 8, 1])
index_names = ['first', 'second', 'third', 'fourth']
X.index = index_names
X = X.sort_values()
X

fourth    1
second    5
first     7
third     8
dtype: int64

In [44]:
X = pd.Series([4,2,5,1,3],
              index=['forth','second','fifth','first','third'])

X = X.sort_values()
X

first     1
second    2
third     3
forth     4
fifth     5
dtype: int64

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, set the fifth element equal to 10

In [49]:
# your code goes here
X = pd.Series([7, 5, 8, 1, 5, 2, 5, 9, 2, 4])
X[4] = 10
X

0     7
1     5
2     8
3     1
4    10
5     2
6     5
7     9
8     2
9     4
dtype: int64

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[4] = 10
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, change all the middle elements to 0

In [52]:
# your code goes here
X = pd.Series([7, 5, 8, 1, 5, 2, 5, 9, 2, 4])
X.iloc[1:-1] = 0
X

0    7
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    4
dtype: int64

In [ ]:
X = pd.Series([1,2,3,4,5],
              index=['A','B','C','D','E'])

X[1:-1] = 0
X

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, add 5 to every element

In [53]:
# your code goes here
X = pd.Series([7, 5, 8, 1, 5, 2, 5, 9, 2, 4])
X + 5

0    12
1    10
2    13
3     6
4    10
5     7
6    10
7    14
8     7
9     9
dtype: int64

In [ ]:
X = pd.Series([1,2,3,4,5])

X + 5

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Series boolean arrays (also called masks)

### Given the X pandas Series, make a mask showing negative elements

In [60]:
# your code goes here
X = pd.Series(np.round(np.random.uniform(-10, 11, 5), 2))
mask = X < 0
mask

0     True
1    False
2    False
3     True
4     True
dtype: bool

In [61]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
mask

0     True
1    False
2     True
3     True
4    False
5    False
6     True
7     True
8     True
9    False
dtype: bool

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get the negative elements

In [63]:
# your code goes here
X = pd.Series(np.round(np.random.uniform(-10, 11, 5), 2))
mask = X < 0
X[mask]

0   -4.86
1   -4.63
2   -2.47
dtype: float64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X <= 0
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than 5

In [64]:
# your code goes here
X = pd.Series(np.round(np.random.uniform(0, 11, 5), 2))
mask = X > 5
X[mask]

3    6.77
4    5.07
dtype: float64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > 5
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers higher than the elements mean

In [66]:
# your code goes here
X = pd.Series(np.round(np.random.uniform(0, 11, 5), 2))
mask = X > X.mean()
X[mask]

2     6.97
4    10.28
dtype: float64

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = X > X.mean()
X[mask]

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, get numbers equal to 2 or 10

In [69]:
# your code goes here
X = pd.Series(np.round(np.random.randint(0, 11, 5), 2))
mask = (X == 2) | (X == 10)
X[mask]

1    2
dtype: int64

In [70]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

mask = (X == 2) | (X == 10)
X[mask]

1     2
9    10
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Logic functions

### Given the X pandas Series, return True if none of its elements is zero

In [142]:
# your code goes here
X = pd.Series(np.random.randint(0, 11, 5))
X.all()

np.True_

In [143]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.all()

np.False_

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, return True if any of its elements is zero

In [144]:
# your code goes here
X = pd.Series(np.random.randint(0, 11, 5))
X.any()

np.True_

In [ ]:
X = pd.Series([-1,2,0,-4,5,6,0,0,-9,10])

X.any()

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Summary statistics

### Given the X pandas Series, show the sum of its elements

In [9]:
# your code goes here
X = pd.Series(np.random.randint(0, 11, 5))
X.sum()

np.int64(33)

In [10]:
X = pd.Series([3,5,6,7,2,3,4,9,4])

#np.sum(X)
X.sum()

np.int64(43)

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the mean value of its elements

In [11]:
# your code goes here
X = pd.Series(np.random.randint(0, 11, 5))
X.mean()

np.float64(7.2)

In [ ]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.mean(X)
X.mean()

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)

### Given the X pandas Series, show the max value of its elements

In [16]:
# your code goes here
X = pd.Series(np.random.randint(0, 11, 5))
X.max()

7

In [13]:
X = pd.Series([1,2,0,4,5,6,0,0,9,10])

#np.max(X)
X.max()

10

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)